body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-primary: #6dcbd5;
  --bg-secondary: #f8f8f8;
}

/* Navbar styling */

nav {
  height: 6rem;
  max-width: 100vw;
  background: white;
  display: flex;
  z-index: 10;
}

.logo {
  height: 4rem;
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.logo:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  width: 100%;
  font-size: 1rem;
  margin-left: 50rem;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-block {
  background: var(--bg-primary);
  padding: 1rem;
}

.nav-links li a {
  list-style: none !important;
  content: '';
  text-decoration: none;
  color: black;
}

.burger div {
  width: 30px;
  height: 3px;
  background: var(--bg-primary);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (min-width: 700px) {
  .nav-links li a::after, .link-text::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--bg-primary);
    transition: width .3s;
  }
  .nav-links li a:hover::after, .link-text:hover::after {
    width: 100%;
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    left: 2rem;
  }
  .burger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 2rem;
    z-index: 999;
    transition: all 0.7 ease;
  }
  .nav-block {
    color: white;
    font-size: 1.25rem;
  }
  .nav-links {
    margin: 0;
    position: fixed;
    background: var(--bg-primary);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -20%);
    transition: all 1s ease-out;
    z-index: 998;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 1.25rem;
    color: white;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  li.fade {
    opacity: 1;
  }
}

/* animating burger on click */

.toggle .line1 {
  background: white;
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  background: white;
  transition: all 300ms ease;
  width: 0;
}
.toggle .line3 {
  background: white;
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Home styling */

.home-bg {
  min-width: 100vw;
  background-attachment: fixed;
  background-size: cover cover;
  height: 43.5rem;
}

.title {
  border-left: 4px solid var(--bg-primary);
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
}

.subtitle {
  font-size: 1.75rem;
}

.home-header {
  font-size: 1.75rem;
  color: var(--bg-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button {
  background: var(--bg-primary);
  border: 3px solid var(--bg-primary);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  padding: 1rem 2rem;
  transition: 300ms ease;
}

.button:hover {
  background: var(--bg-secondary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.link-text {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.link-text:hover {
  cursor: pointer;
}

#home-helper {
  padding-left: 15rem;
  padding-right: 15rem;
}

@media screen and (min-width: 600px) {
  .overlay {
    display: none;
  }
  .grid-item:hover .overlay {
    display: block;
    background: rgb(0, 0, 0, 0.5);
    width: 93%;
    height: 93%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn ease 500ms;
  }
}

@media screen and (max-width: 700px) {
  .overlay {
    background: rgb(0, 0, 0, 0.5);
    width: 93%;
    height: 93%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 3rem;
    left: 40%;
  }
  .sub-title {
    font-size: 2rem;
  }
  #home-helper {
    padding: 2rem 4rem;
  }
}

/* Shared styling */

.header {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.photo-header {
  max-width: 100%;
  height: 10rem;
  background: rgb(69,189,202);
  background: radial-gradient(circle, rgba(69,189,202,0.68531162464986) 21%, rgba(109,203,213,1) 75%);
  color: white;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: lighter;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section { 
  width: 100vw;
}

.section-content {
  padding: 0.5rem 4rem 2rem 4rem;
}

.text-block {
  line-height: 2;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .photo-header {
    text-align: center;
  }
  .section-content {
    padding: 0.5rem 2rem 1rem 2rem;
  }
  .column {
    width: 100%;
  }
}

/* Services styling */

.page-icon {
  height: 3.5rem;
}

#grid-helper {
  gap: 8rem;
  margin: 3rem 5rem;
}

@media screen and (max-width: 700px) {
  #grid-helper {
    padding-top: 3rem;
    gap: 3rem;
    margin: initial;
  }
}

/* Footer styling */

.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .footer {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
  }
}

/* Contact styling */

.con-link {
  text-decoration: none;
}

.con-link:hover {
  color: var(--bg-primary);
  transition: 300ms ease;
}

.contact-form {
  width: 100%;
  margin: 0;
  float: left;
  padding-bottom: 3rem;
}

.map-helper {
  padding-left: 15rem;
}

@media screen and (max-width: 700px) {
  .contact-form {
    width: 100%;
  }
  .map-helper {
    padding-left: 0rem;
  }
}

input, textarea {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: #999;
  border: 1px solid #ddd;
  padding: .5em;
  width: 100%;
}

textarea {
  height: 6rem;
}

input:focus, textarea:focus {
  color: black;
}

.submit {
  width: 103%;
  background: var(--bg-primary);
  border: 3px solid var(--bg-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 3rem 1rem 3rem;
  margin-top: 1.25rem;
  transition: 300ms ease;
}

.submit:hover {
  cursor: pointer;
  background: var(--bg-secondary);
}

@media screen and (max-width: 700px) {
  .submit {
    width: 105%;
  }
}